<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-primary" [disabled]="!btnVisible" >My Button</button>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-12">
        <form>
            <div class="form-group">
                <label>Song</label>
                <input type="text" class="form-control">
                <label>Type</label>
                <input type="text" class="form-control">
                <br>
                <button class="btn btn-primary">Add Song</button> 
            </div>
        </form>
    </div>
</div>


